body { padding-top: 0px; background-color:rgb(255, 254, 253); }
.form_col {
/* display: inline-block; */
margin-right: 15px;
padding: 3px 0px;
width: 200px;
min-height: 1px;
text-align: right; }
input {
padding: 2px;
border: 2px solid #000;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
outline: none;
width: 250px;
height: 30px; }
input:focus {
border-color: rgba(82, 168, 236, 0.75);
-moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
box-shadow: 0 0 8px rgba(82, 168, 236, 0.5); }
.correct {
border-color: rgba(68, 191, 68, 0.75); }
.correct:focus {
border-color: rgba(68, 191, 68, 0.75);
-moz-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
-webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
box-shadow: 0 0 8px rgba(68, 191, 68, 0.5); }
.incorrect {
border-color: rgba(191, 68, 68, 0.75); }
.incorrect:focus {
border-color: rgba(191, 68, 68, 0.75);
-moz-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
-webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
box-shadow: 0 0 8px rgba(191, 68, 68, 0.5); }
.tooltip {
font-size: 14px;
color: red;    
display: inline-block;
margin-left: 20px;
padding: 2px 4px;
/* border: 1px solid rgb(253, 251, 251); */
/* background-color: #CCC; */
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px; }
.container{

    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid rgb(224, 9, 9);
    background-color: #f7931d;
}
.formulaire{
    background-color: rgb(0,30,94);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    border: 5px solid blue;
    

}
.pied{
    background-color: rgb(170, 164, 164);
    width: 100%;
    height: 400px;
    border: 2px solid rgb(224, 9, 9);
}
.centre{
    background-color: #FFFF;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;

    
}
.ext{
    width: 40%;
    height:150px;
    margin-top:0px;
    color: #000;

}
#myForm{
    background-color: #FFFF;
    margin-top: 80px;
    border: 5px solid blue;
    width: 60%;
    height: 800px;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;

}
.centre1{
    margin-left: 80px;
}
.btn{
    background-color: rgb(0,30,94);
    color: #FFFF;
}
.message, .message_{
    width: 100%;
    height: auto;
    font-size:1.5rem;
    color: white;
    text-align: center;
    border-radius: 6px;
}
.message{
    background-color: rgb(2, 75, 0);
}
.message_{
    background-color: rgb(179, 27, 0);
}